@charset "UTF-8";
/* CSS document */

.beetroot-img {
	width: 10em;
}

.img-flex {
	display: block;
	width: 100%;
	height: 100%;
}

/* Overflow hidden is a clearfix It reminds the <dl> to wrap around it's floated children */

dl{
	overflow: hidden;
}

dt {
	float: left;
	clear: left;
	width: 8em;
}

dd {
	float: left;
	margin: 0;
	padding: 0;
}

h1{
	color: red;
}
